affine==2.1.0
arff2pandas==1.0.1
attrs==17.4.0
backports.weakref==1.0rc1
bleach==1.5.0
boto3==1.5.32
botocore==1.8.46
certifi==2018.1.18
click==6.7
click-plugins==1.0.3
cligj==0.4.0
docutils==0.14
Fiona==1.7.10
GDAL==2.2.2
html5lib==0.9999999
jmespath==0.9.3
liac-arff==2.1.1
Markdown==2.6.11
munch==2.2.0
numpy==1.14.1
pandas==0.22.0
protobuf==3.5.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
rasterio==0.36.0
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.0.0
Shapely==1.6.4.post1
six==1.11.0
snuggs==1.4.1
tensorflow==1.2.1
Werkzeug==0.14.1
wincertstore==0.2
